.features {
    background-color: #e6ffe6;
    padding: 60px;
}

.features-title {
    font-family: 'Lobster', cursive;
    color: #408000;
    margin: 40px 20px;
    text-align: center;
}

.features-subtitle {
    margin-top: 50px; 
    font-size: 15px;
    color: rgb(156, 152, 152);
    text-align: center;
}

.features-images {
    display: flex; 
}

.features-image {
    width: 400px;
}