.features {
    background-color: #e6ffe6;
    padding: 30px;
}

.features-title {
    font-family: 'Lobster', cursive;
    color: #408000;
    margin-top: 40px;
    text-align: center;
}

.features-paragraph { 
    text-align: center;
    font-size: 20px;
    color: rgb(103, 101, 101);
    margin: 10px 0 50px 0;
    width: 75%;
}

.features-images {
    display: flex; 
}

.features-image {
    width: 400px;
}