.about-us {
    margin: 60px 55px 120px 55px;
}

.container {
    margin: 40px 0 -20px 0;
    height: 100vh;
}

.about-us-body {
    margin-left: 1rem;
}

.about-us-image {
    width: 400px;
    border: 9px solid #408000;
}

.about-us-title {
    font-family: 'Lobster', cursive;
    color: #408000; 
    margin-top: 10px; 
} 

.about-us-subtitle {
    margin-top: 50px; 
    font-size: 15px;
    color: rgb(156, 152, 152);
}

.about-us-paragraph-one  {
    font-size: 20px;
    color: rgb(103, 101, 101);
}

/* ----------MEDIA QUERIES (MEDIUM DEVICES)---------- */
@media screen and (max-width: 1024px) {
    .container {
        height: 100vh;
    }
}